.env
.venv

.ruff_Cache
.python-version

output
data/results
training/prompt_tuning/eval
training/prompt_tuning/results
training/qlora/eval
training/qlora/results

evaluation_results/
results*

data/

data.zip